<?xml version = '1.0' encoding = 'UTF-8'?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         colors="true">
    <testsuite name="unit">
        <directory>tests/unit</directory>
    </testsuite>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>autoload.php</file>
        </exclude>
    </source>
</phpunit>

